<h1>{{title}}</h1>
<nav>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/cars" routerLinkActive="active">Cars</a>
    <a routerLink="/widgets" routerLinkActive="active">Widgets</a>
    <a routerLink="/notes" routerLinkActive="active">Notes</a>
    <a routerLink="/template-driven-form" routerLinkActive="active">Template Driven Form</a>
    <a routerLink="/reactive-form" routerLinkActive="active">Template Driven Form</a>
    <a routerLink="/all" routerLinkActive="active">All</a>
  </nav>
<router-outlet></router-outlet>