@import 'variables';
@import 'palette';
@import 'functions';

body {
    font-size: 14px;
    .at-user-card {
        font-size: 12px;
        background-color: color('grey','darker');
        height: overlay-heights('large');
        &__title {
            font-size: $title-size;
        }
    }
}