<h1>How to structure a Sass project</h1>
<blockquote class="sp-highlight">Or how to use <strong>@import</strong></blockquote>


<hr>

<h2>Basic directory structure</h2>

<pre class="sp-code">
stylesheets/
|
|-- modules/              # Common modules
|   |-- _all.scss         # Include to get all modules
|   |-- _utility.scss     # Module name
|   |-- _colors.scss      # Etc...
|   ...
|
|-- partials/             # Partials
|   |-- _base.sass        # imports for all mixins + global project variables
|   |-- _buttons.scss     # buttons
|   |-- _figures.scss     # figures
|   |-- _grids.scss       # grids
|   |-- _typography.scss  # typography
|   |-- _reset.scss       # reset
|   ...
|
|-- vendor/               # CSS or Sass from other projects
|   |-- _colorpicker.scss
|   |-- _jquery.ui.core.scss
|   ...
|
`-- main.scss            # primary Sass file
</pre>

<hr>

<h2>Primary stylesheet</h2>

<pre class="sp-code">
// Modules and Variables
@import "partials/base";

// Partials
@import "partials/reset";
@import "partials/typography";
@import "partials/buttons";
@import "partials/figures";
@import "partials/grids";
// ...

// Third-party
@import "vendor/colorpicker";
@import "vendor/jquery.ui.core";
</pre>

<hr>

<h2>Modules, partials, and vendor</h2>

<h3>Modules</h3>

<p>The modules directory is reserved for Sass code that <span class="sp-highlight">doesn't cause Sass to actually output CSS</span>.</p>

<ul>
  <li>mixins</li>
  <li>declartions</li>
  <li>functions</li>
  <li>variables</li>
</ul>
