<h1>Variable Names</h1>

<ol>
  <li>Use semantic variable names</li>
  <li>Adopt useful conventions</li>
  <li>Keep a centralized config</li>
</ol>

<div class="sp-section">
  <h2>Semantic Names</h2>

  <pre class="sp-code">
  // Bad
  $red: red;
  $yellow: yellow;

  // Better
  $brand-color: red;
  $accent-color: yellow;
  </pre>
</div>

<div class="sp-section">
  <h2>Adopt useful conventions</h2>

  <ul>
    <li>postfix color nomes</li>
    <li>prefix specific sections</li>
  </ul>

  <pre class="sp-code">
  // Base colors
  $base-color: #333;
  $brand-color: red;
  $brand-80-color: rgba($color-brand, 0.8);
  $accent-color: yellow;
  </pre>

  <pre class="sp-code">
  // Header
  $header-height: 100px;
  $header-background-color: $color-brand;

  // Footer
  $footer-height: 200px;
  $footer-background-color: #aaa;
  </pre>

</div>

<div class="sp-section">
  <h2>Keep a centralized config</h2>

  <pre class="sp-code">
  @import base/config;
  @import base/typography;
  @import base/utilities;

  @import modules/button;
  </pre>
</div>
